.dark-mode-toggle-container {
  position: absolute;
  top: 0;
  right: 0;

  margin: 1rem;
}

.dark-mode-toggle {
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  background-color: var(--color-bg-primary);
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 5px;

  position: relative;
}

.dark-mode-toggle:hover {
  cursor: pointer;
}

.dark-mode-toggle::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1;

  margin: -1px;
  border-radius: 5px;
  background: linear-gradient(
    135deg,
    var(--color-rainbow-pink) 0%,
    var(--color-rainbow-orange) 100%
  );
  opacity: 0;
  transition: opacity 0.1s ease;
}

.dark-mode-toggle:hover::before {
  opacity: 0.5;
}
