.prompt {
  flex: 0 1 45%;
  height: 5rem;

  word-wrap: normal;

  background-color: var(--color-bg-primary);
}

.prompt h2 {
  font-size: clamp(1rem, 3vw, 3rem);
  color: var(--color-fg-primary);
}

.prompt:hover {
  box-shadow: none;
  flex-basis: 46%;
  height: 5.1rem;
}
