@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-rainbow-pink: #ff007f;
  --color-rainbow-orange: #ff7600;
  --color-rainbow-yellow: #ffd500;
  --color-rainbow-green: #00ff88;
  --color-rainbow-blue: #00aaff;
}

.greeting {
  display: flex;
}

.self-taught {
  flex-basis: 40%;

  color: transparent;
  background: linear-gradient(
    135deg,
    var(--color-rainbow-pink) 30%,
    var(--color-rainbow-orange) 30%,
    var(--color-rainbow-orange) 31%,
    var(--color-rainbow-yellow) 31%,
    var(--color-rainbow-yellow) 32%,
    var(--color-rainbow-green) 32%,
    var(--color-rainbow-green) 33%,
    var(--color-rainbow-blue) 33%,
    var(--color-rainbow-blue) 34%,
    var(--color-rainbow-pink) 35%,
    var(--color-rainbow-pink) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;

  font-size: 10rem;
  /* font-family: selfTaught; */
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  text-align: center;

  background-size: 400% 100%;
  background-position: 0 0;
  animation: slide 3s linear 0.5s infinite;

  transition: font-size 0.5s ease-in-out;
}

.deep-thought {
  flex-basis: 60%;
  color: lime;
  font-family: 'Victor Mono', 'monospace';
  font-size: 4rem;

  display: flex;
  align-items: center;
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 115% 0;
  }
}

@keyframes bobble {
  0% {
  }
}
